<!DOCTYPE html>
<html ng-app="VistaApp">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Reserva de horas on-line</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" integrity="sha384-PmY9l28YgO4JwMKbTvgaS7XNZJ30MK9FAZjjzXtlqyZCqBY6X6bXIkM++IkyinN+" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
            body{
                background-image: url("file:///C:/Users/Administrator/Documents/proyecto-final-frontend/imagenes/textura-azul.jpg")
            }
        </style>
  </head>
<body  >
   
<!--banner superior-->
   
<br>
   <div class="container" style="background: white;border-radius: 10px;" ng-controller="ctrlCliente">
       <div class="row">
           <div class="col-md-1">
               <img src="imagenes/iconouser.png" width="100" height="100">
           </div>
           <div class="col-md-8">
               <br>
               <li>Cliente</li>
               <li>{{cliente.nombre}} {{cliente.apellido}}</li>
               <li>Email: {{cliente.email}}</li>
               <li>Ultimo inicio de sesion: {{cliente.ultimoLogin}}</li>
           </div>
           <br><br><br>
           <div align="right" class="col-md-3">
               <h5><a href="home.html">Cerrar sesión</a></h5>
           </div>
       </div>
   </div>
   <br><br>
      
      <!--Tabla de menu izquierda-->
      <div class="container" ng-controller="ctrlCuadro">
          <div class="row">
              <div class="col-md-4 ">
                  <button type="button" class="btn btn-primary btn-block" ng-click="cuadro1()">Mi perfil</button>
                  <button type="button" class="btn btn-primary btn-block" ng-click="cuadro2()">Agendar hora</button>
                  <button type="button" class="btn btn-primary btn-block" ng-click="cuadro3()">Listar mis horas</button>
              </div>
              <div align="right"class="col-md-8" style="background:rgb(142, 248, 199)" ng-hide="bienvenido">
                  <h1>Bienvenido</h1>
              </div> 
              <div align="right"class="col-md-8" style="background:rgb(142, 248, 199)" ng-hide="mostrarcuadro1">    
                      
              </div> 
              <div align="right"class="col-md-4" style="background:rgb(142, 248, 199)" ng-hide="mostrarcuadro2">
                    <div class="container-fluid" align="center">
                            <div class="row" style="background:white; border-radius:20px; max-width: 600px;">                   
                                <div>
                                    <h4>Agenda tu hora</h4>
                                    <br>
                                    <h5 for="inputState">Seleccione tipo de cita</h5>
                                    <select id="inputState" class="form-control" style="width: 200px;" ng-model="tipoHora">
                                        <option value="venta">Venta</option>
                                        <option value="post-venta">Post Venta</option>
                                    </select>
                                </div> 
                                <br>                                                              
                                <div>
                                    <h5>Seleccione fecha</h5>
                                    <input  type="date" ng-model="fechaDestino"/>
                                </div>                                                             
                                <br>
                                <div>
                                    <h5 for="inputState">Horario</h5>
                                    <select id="inputState" class="form-control" style="width: 200px;" ng-model="horario">                                    
                                        <option value="09:00:00">09:00</option>
                                        <option value="10:00:00">10:00</option>
                                        <option value="11:00:00">11:00</option>
                                        <option value="12:00:00">12:00</option>
                                        <option value="13:00:00">13:00</option>
                                        <option value="14:00:00">14:00</option>
                                        <option value="15:00:00">15:00</option>
                                        <option value="16:00:00">16:00</option>
                                        <option value="17:00:00">17:00</option>
                                    </select>
                                </div>
                    
                                <div>
                                    <br>
                                    <button type="button" class="btn btn-info" ng-click="preferencia()">Consultar Preferencia</button>
                                </div>
                                <div class="bg-warning" style="padding:20px;" ng-show ="mostrarError" >
                                        {{mensaje}}
                        
                                 </div>


                            </div>
                        </div>
              </div>
              <div align="right"class="col-md-4" style="background:rgb(143, 248, 199)" ng-hide="matchExitoso">
                    <h4>Encontramos la hora que buscabas</h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Hora</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="hora in preferencias ">
                                <td>{{hora.fecha}}</td>
                                <td>{{hora.hora}}</td>

                            </tr>
                        </tbody>
                    </table>
              </div>
              <div align="right"class="col-md-8" style="background:rgb(142, 248, 199)" ng-hide="mostrarcuadro3">
                       
              </div>        
          </div>    
      </div>   
      <!--filtro-->
        <div class="col-md-6">
 <!--tabla central-->
 
        
        
      
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js" integrity="sha384-vhJnz1OVIdLktyixHY4Uk3OHEwdQqPppqYR8+5mjsauETgLOcEynD9oPHhhz18Nw" crossorigin="anonymous"></script>
    <script src= https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js></script>
    <script src= "js/AppVistacl.js" type=  "text/javascript"></script>
</body>
</html>